[2017-02-26 02:59] changeling commented on #1985
What's the status on this? Debian (And Ubuntu, by extension) have removed qtwebkit from their QT4 packages for 'Security' issues, so Ninja, as of Ubuntu Yakkety, is not functional. I'd hope this has become a high priority, but I don't see any indication in the git commits and I can't find a Roadmap for what's being worked on.

[2017-02-26 12:12] centaurialpha commented on #1985
@changeling This has been fixed in the development version, we are finishing migrating Ninja-IDE to Qt5 and will soon update the repository to receive contributions and move forward with the next release.

[2017-02-26 21:25] changeling commented on #1985
Excellent! And thanks for the very quick response. Looking forward to the release.

[2017-03-08 05:59] centaurialpha opened #1990 "New style"
Taking advantage of the new Qt5, the new style of widgets in Ninja will be built based on QProxyStyle. The idea is to have a style adapted to what we see today, flat widgets.

[2017-03-08 06:00] diegosarmentero commented on #1990
Great!

[2017-03-08 06:07] centaurialpha opened #1991 "Back to QPlainTextEdit"
QScintilla is good, but not flexible and difficult to customize, that's why we decided to go back to QPlainTextEdit.

The change is already halfway ;)

[2017-05-17 19:13] kalbfled opened #1992 "function annotations disables the "Symbols" view"
When I include [function annotations](https://docs.python.org/3/tutorial/controlflow.html#function-annotations), Ninja-IDE underlines the relevant lines in red, and the "Symbols" view on the right goes blank for affected file.

[2017-05-17 21:08] centaurialpha commented on #1992
Thanks for reporting

[2017-05-30 16:05] kalbfled commented on #1992
You're welcome.  I experience the same consequence (no navigation, etc., on the right) when I open a perfectly valid Python file that does not end in ".py".

[2017-05-31 19:43] centaurialpha commented on #1992
Yes, it has already been fixed in the development version that I have in my local repository, the remote repository will soon be updated to receive contributions :)

[2017-06-05 19:41] GregStef opened #1993 "FR: Ability to connect & debug an external Python Kernel"
We are often faced with the task of making code for a server which has no GUI and/or we cannot install our favorite IDE on it.

If the functionality of this code is based on common resources (e.g. do some file-handling stuff) we can easily develop & debug the code with Ninja in our box and then deploy the finished product to the server - it will usually work right on.

There are, however, circumst

[2017-06-11 23:19] roghib opened #1994 "ImportError: No module named virtualenv"
[code]

[2017-06-12 02:10] centaurialpha commented on #1994
https://github.com/ninja-ide/ninja-ide#requirements

[2017-06-12 02:10] #1994 closed

[2017-06-14 11:22] brthanmathwoag commented on #1985
According to the 3.0 roadmap, it is 11% complete, so I assume the new version won't be released anytime soon. Is there any chance to have the python3+PyQt5 migration code backported to 2.3? Also, is it possibile to checkout the 'development version' you mentioned, as I don't see it on github?

[2017-06-14 13:10] centaurialpha commented on #1985
I do not see it necessary to rewrite the 2.3 to Qt5. The migration to Qt5 is complete, the development version is in my local repository, due to lack of time I can not finish some things regarding the editor. It is likely that you will soon be uploading this version so that we can contribute.

[2017-06-14 13:53] brthanmathwoag commented on #1985
Okay, thanks, looking forward to it then.

[2017-06-19 00:51] PaoloFR opened #1995 "Tab not aligned"
I just started using Ninja Ide.

If i use the tab key at the end of a statement (for example to add the continuation
character), it simply add 8 characters instead to align to next multiple of 8 plus one.

For example if the last character in the statement is 25  (cursor in position 26) and hit the tab key
the cursor moves to position 35 instead of 33 which is next multiple of 8 plus one.

Similar

[2017-06-21 00:31] LtrUad commented on #837
Or, if you're lazy like i am you can do it all in one go with this handy gist:
    https://gist.github.com/LtrUad/db4daa0009e88c0e5e6b49c2c138fb01

[2017-06-23 19:01] centaurialpha commented on #1995
Hello! Thanks for reporting the issue. It is a design problem and is already fixed in the development version.

[2017-06-23 21:23] PaoloFR commented on #1995
Gabriel:

Thanks for the notification.  I look forward to it.

Take care.......... Paolo

On Fri, Jun 23, 2017 at 3:02 PM, Gabriel Acosta <notifications@github.com>
wrote:

[2017-07-03 08:57] zhangchunlin opened #1996 "Cannot add no ext file to a project"
For example I have a tool write by python but with not .py file ext , because in bash we can make it run with python by write a first line: "#! /usr/bin/env python" , but I cannot see this file in ninja-ide project, also cannot modify the ext filter to do this.

[2017-07-12 12:26] ShalokShalom opened #1997 "IRC Channel is unmaintained"
I was not even sure, if i used the correct spelling. Remove it from your page, if you dont use it
A topic, autobot and redirections to other communication platforms might help as well.

![screenshot_20170712_142505](https://user-images.githubusercontent.com/6344099/28117498-f739982e-670d-11e7-8d07-3018b7b8dc35.png)

[2017-07-12 12:27] ShalokShalom opened #1998 "Zero screenshots on the homepage"
While there are little previews, is there no Screenshot on the whole page. How should i decide to use this IDE, if there is not even one?

[2017-07-14 10:20] #1074 closed

[2017-08-03 03:48] programmin1 commented on #1840
I was about to report this just now actually. It really should run python3 when the first line is:

    #!/usr/bin/env python3

Running the file directly runs with python3 after all. Python2 will be discontinued in a few years too.

[2017-08-16 19:12] absalonx opened #1999 "TypeError when opening a file or a project"
Hello.
Have a problem with opening a file or a project using ctrl+o/File-Open/ctrl-shift-o/File-Open Project:
`TypeError: getOpenFileNames(parent: QWidget = None, caption: str = '', directory: str = '', filter: str = '', selectedFilter: str = '', options: QFileDialog.Options = 0): argument 3 has unexpected type '__ExplorerContainer'`
Running arch. Ninja ver  is 2.3-4.
Seems to be an old bug accord

[2017-08-21 18:35] JoelMon commented on #1997
Just checked and yeah, still empty...

[2017-09-05 12:09] pintman opened #2000 "Link to windows installer broken"
The link from the download page leading to the windows installer is broken.

https://dl.dropboxusercontent.com/u/19194639/ninja-ide-2.3.exe

[2017-09-05 14:39] centaurialpha commented on #2000
@diegosarmentero

[2017-09-05 23:13] frivera2015 opened #2001 "Output not auto scrolling"
when i execute the program, the output are not auto scrolling, i have to manual scrolling everytime.

[2017-09-07 14:29] diegosarmentero commented on #2000
Links updated and working

[2017-09-07 14:29] #2000 closed

[2017-09-08 15:20] pintman commented on #2000
Thanks.

[2017-10-04 14:00] Danich commented on #1985
It's 4th of october. Still getting this error.
Tried updating, purging and installing. Nothing.

[2017-10-14 03:03] t1m0thyj commented on #1985
I ran into the same problem on my Raspberry Pi with Debian Stretch. I was able to work around it by downloading the package `python-pyqt4` from the previous version Jessie, extracting the file `QtWebKit.so`, and putting it in the `/usr/lib/python2.7/dist-packages/PyQt4` directory.

[2017-10-23 02:00] #1992 closed

[2017-10-24 22:49] rayenglish commented on #1985
Thanks t1m0thyj - worked perfect , eazy peazy !

[2017-11-21 14:54] stOneskull commented on #1985
sorry but could you explain how to get the jessie version of python-pyqt4 to extract?

[2017-11-21 15:09] t1m0thyj commented on #1985
@stOneskull You can download it from https://packages.debian.org/jessie/python-qt4, if you scroll down to the bottom of the page and click on "armhf". Then you can open the archive to extract `QtWebKit.so` from it.

After copying this file, Ninja IDE should work on Stretch. Personally I stopped using it, because it seemed to run a lot slower than on Jessie and was laggy.

[2017-12-06 20:09] #1999 closed

[2017-12-06 20:09] #1995 closed

[2017-12-07 01:39] #1954 closed

[2017-12-08 01:01] eamanu opened #2004 "Problem to open a file"
First I open ninja-ide, then open a project running Ctrl-Shift-O, then select a folder.
At the moment that I select a file (.py) to edit, the ninja-ide abort.

The console error is this:

[code]

[2017-12-08 01:56] centaurialpha commented on #2004
Thanks for reporting! :)

[2017-12-08 02:43] benmoran56 commented on #2004
I saw the same issue, but after a git pull, the latest code seemed to fix it.

[2017-12-08 06:37] #2004 closed

[2017-12-08 06:38] #1990 closed

[2017-12-08 06:38] #1991 closed

[2017-12-08 06:53] centaurialpha commented on #1749
Now a term is highlighted in scrollbar:

![ni](https://user-images.githubusercontent.com/5894606/33754505-4110a924-dbcb-11e7-9daa-ef1013a2d92c.png)

[2017-12-08 06:53] #1749 closed

[2017-12-08 06:58] #1981 closed

[2017-12-08 06:58] centaurialpha commented on #1980
Fixed

[2017-12-08 06:58] #1980 closed

[2017-12-08 07:00] centaurialpha commented on #1963
Fixed

[2017-12-08 07:00] #1963 closed

[2017-12-10 03:20] stOneskull commented on #1985
thank you very much.

i can confirm this works for the amd64 computer version too.

[2017-12-10 20:16] mmliebana opened #2005 "Shortcuts doesn't work"
No shortcut works.

Ctrl+s...

[2017-12-10 20:19] mmliebana commented on #2005
Reloading defaults has been solved

[2017-12-10 20:19] #2005 closed

[2017-12-10 23:48] eamanu opened #2006 "Ninja-ide close when I try open a project"
When I try to open a folder (through Shift+Ctrl+O) the RIDE closed suddenly. This is the error:

[code]

[2017-12-11 00:54] joepartridge opened #2007 "No Guide, no tutorials..."
Tried it and liked but I don't think I'll be able to use it without more docs.
Created a project from a folder with a few related files but I don't even know how to fill all the fields on the tabs that appeared next.
:(

[2017-12-11 17:30] #2006 closed

[2017-12-12 14:15] eamanu opened #2009 "Create new file without format .py (word's color)"
When I create new file (Ctrl-N), write pice of code and then save it, the file never have the word's color (the python file format color).

But if  I close the IDE, and open the file then have the 'format'

![screenshot at 2017-12-12 11-09-45](https://user-images.githubusercontent.com/7605307/33889034-a9e2aabe-df2d-11e7-97e5-98438007ad2d.png)

[2017-12-12 16:24] centaurialpha commented on #2009
@eamanu Great! but an additional **NEditor** is beign created

[2017-12-18 19:11] gvitalie opened #2011 "[Feature request]: Run python code sample without saving a priory"
### [Feature request]: Run python code sample without saving a priory

Good morning, Dear Ninja-IDE.

__Desire:__ _have option to run python sample code without saving a priory._

Thank You, Dear Ninja-IDE Community.

[2017-12-18 21:27] centaurialpha commented on #2011
Hi @gvitalie thanks for the proposal.
Yes, I also like the idea of ​​executing all or a portion of the code (selecting the portion that you want to execute).

[2017-12-20 17:55] eamanu commented on #1989
Actually, Ninja-Ide does not work with PyQt4, is not?

[2017-12-20 23:36] centaurialpha commented on #1989
Nope, from 3.0, only with Qt5

[2017-12-20 23:36] centaurialpha commented on #1989
From 3.0, only with Qt5

[2017-12-22 06:40] lee8871 opened #2013 "run `python3.5 ninja-ide.py` catch `SystemError: <built-in method value of QSettings object at 0x7fde390cbf78> returned a result with an error set `"
Run `python3.5 ninja-ide.py` it return :
[code]
Is the error on PyQt5? I have checked the module PyQt5. The answer is following:
[code]
It do not have __version__, so go to the directory, I see :
[code]
So what's wrong in my environment? What should I do?
Thank you!

[2017-12-22 08:24] centaurialpha commented on #2013
Hi!
please can you try run ninja with debug level:
[code]

and for see version of PyQt:
[code]
but I see you have 5.9

[2017-12-23 19:27] lee8871 commented on #2013
Thank you for the help!
My PyQt5 Version was '5.5.1',

I install Qt Creator, (I am not sure that is useful) the version is following:
[code]
and upgread PyQt5 to version '5.9.2',

Now `python3.5 ninja-ide.py` is worked.
I hope it is helpful, the following is my system information :
[code]

[2017-12-23 23:55] #2013 closed

[2017-12-29 12:03] eamanu opened #2014 "Strange behavior"
Today, I opened the Ninja Ide and the gui have this behavior:

![screenshot at 2017-12-29 08-54-52](https://user-images.githubusercontent.com/7605307/34436686-b35f2cd8-ec76-11e7-8855-598ef4a72de0.png)

This is the console output (using --loglevel 'DEBUG' parameter):
[code]

I am in a Linux Mint.

I am working, with this branch: https://github.com/eamanu/ninja-ide/tree/api-autocomp but I did't touc

[2017-12-29 12:43] centaurialpha commented on #2014
Very strange. Always happens?
Yesterday he made a small change in the style that solves problems in Windows and OSX, but I do not think that is affecting.

[2018-01-02 12:34] eamanu opened #2015 "Startup Ninja-ide.py error"
I have this error on the last ninja-ide commit:
[code]
Commit: a303ad0c805249fa463fa24a922532f6d46b7a16

Regards

[2018-01-02 20:06] centaurialpha commented on #2015
Yes, it is already fixed in my local branch.

[2018-01-03 05:24] #2015 closed

[2018-01-03 16:29] centaurialpha commented on #1947
Fixed

[2018-01-03 16:29] #1947 closed

[2018-01-07 22:19] maxenceleduc92 opened #2016 "Can't launch ninja-ide.py on RPi 3"
Hi,
As they removed PyQt4 in the last updates, I've tried to install ninja-ide 3.0.
But when I try to run it, I get the following error:
[code]

I read this issue can be caused by libEGL.so and libGELv2.so not being present in /usr/lib/arm-linux-gnueabihf/, but they are:
[code]
Am I missing something ?

Thanks

[2018-01-08 05:26] centaurialpha commented on #2016
Hi! try run ninja with Python 3 :)

[2018-01-08 18:32] maxenceleduc92 commented on #2016
I followed the README instructions so I thought I had to use python.
Anyway, with Python 3 I get this error:
[code]

[2018-01-08 19:49] centaurialpha commented on #2016
Please delete: `rm -R ~/ninja_ide` and try run again.

[2018-01-08 19:53] maxenceleduc92 commented on #2016
If I delete /ninja_ide, I get:
[code]

[2018-01-08 19:57] centaurialpha commented on #2016
Very strange.
- You have last repo update?
- What is your python version? 3.x?
- Run: `python3 ninja-ide.py --loglevel='DEBUG'`

[2018-01-08 20:00] centaurialpha commented on #2016
No! you have deleted the source code!

Delete the config folder locate in `/home/youruser/.ninja_ide`

[2018-01-08 20:40] maxenceleduc92 commented on #2016
That worked, thanks!
But the interface is strange (I have only New File and Open icons on the left and the right is empty) and it uses 100% CPU just by navigating in the menu. Is it normal?

[2018-01-08 20:40] #2016 closed

[2018-01-08 20:55] centaurialpha commented on #2016
Great!

Yes, currently ninja is very unstable, because we are in an alpha version.

It should not be normal, I'll try on my RPi

[2018-01-11 22:24] Zappline opened #2017 "else: in if/else seems to be broken"
Hi. I'm new to programming and found out about Ninja-IDE today, seems like a nice lightweight IDE, perfect for a noob trying to learn.

However there seems to be an issue with the else part of if/else statements. When I try to type "else:" the else part disappears... the second I press ":" the else statement just goes up in smoke and leaves me with a ":" and nothing else... No idea what is wrong.

[2018-01-12 02:49] centaurialpha commented on #2017
Hi! Ninja 3.0 or 2.3? I can't reproduce the error in Ninja 3.0

[2018-01-12 14:53] Zappline commented on #2017
I use 2.3 for windows. I cant find 3.0 on the website :/ I don't know if I
just need to make a re-install or something. I played around with it
yesterday and it seems to only happen when it's used with no indents. If
the if/else statement is indented it seems to be working fine. I know
indents is very important in python so maybe I just don't know what I'm
doing!?

On 12 Jan 2018 5:49 AM, "Gabriel

[2018-01-12 19:30] centaurialpha commented on #2017
Version 3 is still in development and is in the master branch. Can you put the piece of code that causes the problem?

[2018-01-16 14:02] #1861 closed

[2018-01-16 14:02] #2001 closed

[2018-01-16 14:03] #1946 closed

[2018-01-16 14:03] #1686 closed

[2018-01-16 14:25] #1862 closed

[2018-01-16 14:26] #1893 closed

[2018-01-16 14:27] #1932 closed

[2018-01-16 14:28] #1970 closed

[2018-01-16 14:30] #1611 closed

[2018-01-16 14:31] centaurialpha commented on #1987
Now you can configure for HDPI in: **Edit/Preferences/Interface/Screen Resolution**

[2018-01-16 14:31] #1987 closed

[2018-01-16 14:34] centaurialpha commented on #1956
Fixed

[2018-01-16 14:34] #1956 closed

[2018-01-16 14:34] #1918 closed

[2018-01-16 14:35] #1644 closed

[2018-01-16 14:40] #1834 closed

[2018-01-16 14:41] centaurialpha commented on #1833
Ninja go back use QPlainTextEdit instead of Qscintilla.

[2018-01-16 14:41] #1833 closed

[2018-01-16 14:42] centaurialpha commented on #1711
Fixed!

[2018-01-16 14:42] #1711 closed

[2018-01-20 01:39] #1891 closed

[2018-01-20 01:39] #1964 closed

[2018-01-20 01:40] #1840 closed

[2018-01-20 01:41] #1958 closed

[2018-01-21 19:34] bignose-debian opened #2018 "Criteria for new Ninja-IDE release"
There has been a lot of development since the [most recent release](https://github.com/ninja-ide/ninja-ide/releases) (currently “v2.3”, released 2013-07-08).

What changes are needed before you can declare a “2.4” or “3.0” release?

Can you enumerate a specific set of issues – maybe tag them in GitHub – that would, when resolved, make ready a new release of Ninja-IDE?

[2018-01-22 01:09] centaurialpha commented on #2018
Yes, I will do it right now. Thanks!

[2018-01-22 04:35] centaurialpha opened #2019 "Indenter API"
Indender for:
- **Python**
- QML
- JS
- HTML

[2018-01-22 04:36] centaurialpha opened #2020 "Support for Snippets"

[2018-01-22 04:37] centaurialpha opened #2021 "Support for CallTips"

[2018-01-22 06:00] #1479 closed

[2018-01-22 06:04] #1596 closed

[2018-01-22 06:10] #1915 closed

[2018-01-22 06:11] #1929 closed

[2018-01-22 06:13] centaurialpha commented on #2018
[Here](https://github.com/ninja-ide/ninja-ide/milestone/8) is the set of issues to get to the beta version.

[2018-01-22 06:13] #2018 closed

[2018-01-22 06:15] #795 closed

[2018-01-22 19:40] centaurialpha commented on #760
Added

[2018-01-22 19:40] #760 closed

[2018-01-22 19:45] centaurialpha commented on #614
Added!

[2018-01-22 19:45] #614 closed

[2018-01-22 19:55] centaurialpha commented on #1031
Fixed!

[2018-01-22 19:55] #1031 closed

[2018-01-22 20:06] centaurialpha commented on #1732
Fixed

[2018-01-22 20:06] #1732 closed

[2018-01-23 19:09] #1658 closed

[2018-01-23 19:11] centaurialpha commented on #613
Fixed

[2018-01-23 19:11] #613 closed

[2018-01-24 12:22] #831 closed

[2018-01-24 12:22] #1604 closed

[2018-01-24 12:22] #1608 closed

[2018-01-24 14:01] #1147 closed

[2018-01-27 18:41] #2011 closed

[2018-01-28 16:05] #1985 closed

[2018-01-28 16:55] #1602 closed, assigned to nobody

[2018-01-29 16:17] #1593 closed

[2018-01-31 21:44] vince06fr opened #2022 "QOpenGL could not create shader"
Running ninja-ide in ubuntu 17.10 Artful Aardvark result to open a black windows with this error:

[code]

workaround is to install  `python3-opengl ` then edit ninja-ide.py and add `from OpenGL import GL` to the imports

This bug seem to affect ubuntu with nvidia GPU but don't sure it is the only distribution afffected.

The issue have impacted this project and it is where I found the fix:
https:

[2018-02-01 17:46] #1953 closed

[2018-02-05 14:08] #1104 closed

[2018-02-10 23:21] #1621 closed

[2018-02-17 19:27] sevu commented on #1984
What is supposed to happen?

[2018-02-17 19:30] sevu commented on #1997
The Chat section mentions the IRC channel:
http://ninja-ide.org/about/

Apparently the discord channel is now in use instead.

[2018-02-23 06:06] #1291 closed

[2018-02-27 14:51] #1211 closed

[2018-03-05 03:05] centaurialpha commented on #1997
That's right, we moved to Discord :)

[2018-03-05 03:05] #1997 closed

[2018-03-05 03:48] CodeMouse92 commented on #1997
Aaaand....is this a public discord server? What's the address?

[2018-03-05 03:54] centaurialpha commented on #1997
Yes, here you will find the link to the server :) [ninja contact](https://github.com/ninja-ide/ninja-ide#ninja-contact)

[2018-03-05 07:30] ShalokShalom commented on #1997
http://ninja-ide.org/about/ still lists Freenode and is silent about Discord
This is how you kick out your community efficiently ^-^

[2018-03-05 13:04] centaurialpha commented on #1997
Yes, sorry, the web app is another pending task :(.
@diegosarmentero Could you put Discord on the web?

[2018-03-10 22:09] #1165 closed

[2018-03-14 20:50] sevu opened #2027 "'NoneType' object has no attribute 'neditable'"
with current master:
[code]
I didn't realize it crashing, it must have happened when I did exit the ide.
Or the error message happened at some time before, and the crash was while closing.

In the source code is only one reference to `editor.neditable.file_path`, and it's in
ninja_ide/gui/main_panel/combo_editor.py

It created an coredump, though I guess that's Pythons or PyQts fault and not helpf

[2018-03-14 21:57] centaurialpha commented on #2027
mm, this happens when the IDE try to get the focus to editor, thanks for report, I'm going to give it a look.

[2018-03-14 23:19] sevu commented on #2027
Thanks for the quick fix.

[2018-03-14 23:19] #2027 closed

[2018-03-17 01:33] amoh-godwin opened #2029 "IDE crashes when trying to create new project (python). Error: path not found 'usr/bin'"
Shouldn't we use a more platform specific code since windows clearly does not understand this path names

[2018-03-17 01:35] amoh-godwin opened #2030 "Filter not found. When trying to create New Project"
I am using the dev edition and on windows

[2018-03-17 01:44] amoh-godwin opened #2031 "Find in file expection a str or byte like object not NoneType"

[2018-03-17 03:04] centaurialpha commented on #2031
Can you reproduce this?

[2018-03-17 21:28] #1937 closed

[2018-03-17 21:31] #1989 closed

[2018-03-17 21:38] centaurialpha commented on #2017
Fixed

[2018-03-17 21:38] #2017 closed

[2018-03-17 21:42] #2009 closed

[2018-03-18 15:19] amoh-godwin commented on #2031
Thanks, will probably close this. It goes away when another issue I have stated earlier is fixed. But I havent been able to make a pull request yet.

[2018-03-18 15:19] #2031 closed

[2018-03-18 15:38] #2029 closed

[2018-03-18 16:39] amoh-godwin commented on #2019
Please where can we find the Identer, I mean the location, so we can jump upon. Please a little help in this direction. I am particular about qml.

[2018-03-19 03:21] centaurialpha commented on #2019
The API is located [here](https://github.com/ninja-ide/ninja-ide/tree/master/ninja_ide/gui/editor/indenter), you can see an example of implementation of Python indenter in [python_indenter.py](https://github.com/ninja-ide/ninja-ide/tree/master/ninja_ide/gui/editor/indenter/python_indenter.py)

[2018-03-23 11:03] amoh-godwin commented on #2030
Fixed in pull #2032

[2018-03-23 11:03] #2030 closed

[2018-03-23 11:06] amoh-godwin commented on #2019
I have checked and it seems that indenting for QML is done

[2018-03-24 00:04] centaurialpha commented on #2021
Progress:

![call](https://user-images.githubusercontent.com/5894606/37857883-b06b348c-2edd-11e8-8477-2f5208a49008.gif)

[2018-03-24 00:10] centaurialpha opened #2035 "[ComboEditor] AttributeError: 'ImageViewer' object has no attribute 'neditable'"
This issue occurs because we do not add the image filename to the list that shows the FilesHandler:

![peek 2018-03-23 21-09](https://user-images.githubusercontent.com/5894606/37857984-7ccbe332-2ede-11e8-89da-736bb700673d.gif)

[2018-03-24 02:02] eamanu opened #2036 "Problem to start up ninja-ide"
Hello!,

i Just try to startup ninja-ide and I have the next error:

[code]
Regards!

[2018-03-24 02:38] centaurialpha commented on #2036
Did you check if you have the module?
I can't reproduce

[2018-03-24 15:53] amoh-godwin commented on #2036
@eamanu
please update your __init__.py file found in /home/eamanu/dev/ninja-ide/ninja_ide as follows:

[code]

[2018-03-24 15:55] amoh-godwin commented on #2036
might make a pull request on this soon already it is running mine

[2018-03-25 20:25] centaurialpha commented on #2036
I think this is a @eamanu problem only, try to clone the project again

[2018-03-26 12:50] eamanu commented on #2036
I'm ashamed. I made some updates in my laptop and the command python was python2.7. Thanks! and sorry!

[2018-03-26 12:50] #2036 closed

[2018-03-26 13:29] eamanu commented on #1955
Hello, @wtjcn

I want to work with it.  Could you give me more detail about the bug?

Thanks!

[2018-03-26 14:10] eamanu opened #2039 "Language manage extension problem"
Hello,

When I go yo Extension -> Language Manager. I have the next exception:
[code]
Maybe, it would be advisable to hide this option until is complete or maybe show a pop up that say "This option is not available yet".

[2018-03-28 01:10] amoh-godwin commented on #1952
@centaurialpha am kinda lost in the .pyc, kindly tell me the file to be worked on, we should get to work. Im lost. Thanks

[2018-03-28 04:59] centaurialpha commented on #1952
This was a ninja 2.3 issue, I think it is solved, I have not been able to reproduce it.

[2018-03-28 20:23] amoh-godwin commented on #1952
ok. Good to know

[2018-03-29 20:40] centaurialpha commented on #2039
I do not think it's necessary to show a popup. Currently ninja is not stable, I prefer it to be that way to know that you have to fix that

[2018-03-29 20:47] amoh-godwin commented on #1952
@centaurialpha this issue should be closed right

[2018-03-29 21:00] amoh-godwin commented on #1960
@microwave20 Acabo de comprobar cambiar el camino? Funciona.  Yo no hablo español aunque

[2018-03-29 21:04] amoh-godwin commented on #2039
@centaurialpha please can I know what it supposed to be in there

[2018-03-29 21:05] amoh-godwin commented on #2039
@centaurialpha please I only know qml, when it comes to ui's. I just think it's blessed

[2018-03-30 06:49] centaurialpha commented on #1960
@amoh-godwin Yes, now it works. This issue should be closed. The settings part is being rewritten, we will not use a UI, it will be VS Code style

[2018-03-30 06:51] centaurialpha commented on #2039
Here we should list the languages ​​of the UI. We can also download languages ​​from the community

[2018-03-30 11:45] amoh-godwin commented on #1960
not using UI? That will mean the users will first get scared when they hear of it, before they even use it.

[2018-03-30 11:47] amoh-godwin commented on #2039
Thanks. I saw the UI tag after I commented. Download of languages from the community is cool.

[2018-03-30 11:49] amoh-godwin commented on #2039
Please Assign me to this. UI should be ready by today.

[2018-03-30 12:22] amoh-godwin commented on #2039
I am using Windows 10 settings style

[2018-03-30 19:40] sephore commented on #1890
I thought this had been fixed a long time ago, but recently I'm having this problem again while using the **ninja-ide 2.3-4** package from the Arch community repository, which I believe should be the latest version.

[code]

[2018-03-31 03:13] amoh-godwin commented on #2039
This is where I am currently.
![bg](https://user-images.githubusercontent.com/18188576/38159096-ce3fa8d2-3499-11e8-92c1-6754746f40fa.png)

[2018-03-31 03:14] amoh-godwin commented on #2039
Work in Progress
![progress](https://user-images.githubusercontent.com/18188576/38159106-ecf34b08-3499-11e8-8533-1a2d1cf8cfaa.png)

[2018-03-31 05:20] centaurialpha commented on #1960
Did you use vs code? Did you see how easy it is to configure the settings?

[2018-03-31 05:26] centaurialpha commented on #2039
This is QtQuick Controls or QtQuick?.

[2018-04-01 11:18] amoh-godwin commented on #2039
This is QtQuick Controls < 2. But I just checked river bank computing has just released a newer version promising support for QtQuick Contols 2. So I will try and switch to it maybe this week, since am using anaconda

[2018-04-01 11:21] amoh-godwin commented on #2039
Please Sorry for the Delay, I had a headache. Will make the pull request soon. ![progress2](https://user-images.githubusercontent.com/18188576/38172588-d0ed31a4-35a6-11e8-8e16-24e4652eb5f4.PNG)

[2018-04-01 11:27] amoh-godwin commented on #1960
No it was too heavy a software for me so I never used it but might give it a try one day

[2018-04-01 11:28] amoh-godwin commented on #1960
@centaurialpha Isnt the UI working working like you comfortenly said.

[2018-04-02 01:07] centaurialpha commented on #2039
@amoh-godwin  Please use QtQuick instead of QtQuick controls. QtQuick Controls is designed more for mobiles, also I do not want more dependencies.

[2018-04-02 04:13] amoh-godwin commented on #2039
@centaurialpha no please, it has very little QtQuick controls most of the things u see are built from scratch.

[2018-04-02 16:42] centaurialpha commented on #2039
@amoh-godwin you can see what we did in the module `ninja_ide.gui.qml`

[2018-04-04 13:59] eamanu opened #2042 "Searching in file"
Hello,
I was using the search feature. When I search a dot, ninja-ide give me this result:

![image](https://user-images.githubusercontent.com/7605307/38312079-5313de4c-3810-11e8-91f5-e2aa5ca3933d.png)

Strange...

Regards!

[2018-04-04 16:36] SonRossy opened #2043 "won't work for other language"
if I try to write a java code then it thinks I am using python.
was the ide just made for python or was it intended for other languages as well?

[2018-04-04 18:09] amoh-godwin commented on #2039
@centaurialpha too late to check that now boss.

[2018-04-04 18:11] amoh-godwin commented on #2043
Basically it was written purposely for python code.

[2018-04-04 18:12] amoh-godwin commented on #2043
@SonRossy regards though..

[2018-04-05 11:01] #2042 closed

[2018-04-05 11:03] centaurialpha commented on #2014
I guess this was resolved when you stopped using QProxyStyle. Closing

[2018-04-05 11:03] #2014 closed

[2018-04-05 14:02] amoh-godwin commented on #2039
@centaurialpha  ``ninja_ide.gui.qml`` ?

[2018-04-07 00:44] eamanu opened #2045 "Error when trying to open a not text file"
Hello,

I tried to open a .pyc file (by mistake) and ninja-ide crash. This is the error:

[code]
Maybe, trying to catch this error will be good.

[2018-04-07 16:35] centaurialpha commented on #2045
It would be better to show a binary viewer, I'm already working on it:
![screenshot from 2018-04-07 13-34-56](https://user-images.githubusercontent.com/5894606/38457567-7b4deec0-3a68-11e8-8421-815a35eca972.png)

[2018-04-08 15:52] centaurialpha commented on #2045
This is the advance:
![bin](https://user-images.githubusercontent.com/5894606/38469471-b02cd408-3b2b-11e8-815f-c2ad60839a5f.gif)

[2018-04-09 12:02] eamanu commented on #2045
Oh Yeah! This is great!

[2018-04-12 16:52] centaurialpha opened #2048 "Hot exit"
The idea of ​​this feature is that Ninja is able to remember the status of unsaved files after closing ninja (hot exit), without annoying dialogs.

The way hot exit works is to periodically make backups of unsaved files. If Ninja happens to crash, a backup restore will occur the next time the files is open.

[2018-04-13 18:55] SonRossy commented on #2043
can you assign me to that issue, i can make it happen

[2018-04-13 22:16] centaurialpha commented on #2043
@SonRossy Ninja is designed exclusively for Python, is an IDE for Python and not an editor like Sublime, Atom or Vs Code. This is never going to be implemented in the core.

To support another language, you can make a supplement.

[2018-04-13 22:16] #2043 closed

[2018-04-14 03:25] #2048 closed

[2018-04-18 15:03] eamanu opened #2050 "Error when save a file"
When save the file (Ctrl + S)  I have this error:

[code]

That is my module, so I take this issue for me

Regards!

[2018-04-18 15:05] eamanu opened #2051 "Error when open a folder"
When I open a folder by press the button on the left side ide produce this error:

[code]

[2018-04-19 01:40] centaurialpha opened #2052 "RuntimeError: wrapped C/C++ object of type NEditor has been deleted"
This happens when the checkers are executed but `NEditor` object has been removed by `ninja_ide.ide._unload_neditable`.

Possible solutions:
- Shorten the timer time to trigger the checker execution.
- Check with `sip.isdeleted` before running the checkers

[2018-04-19 01:43] centaurialpha commented on #2051
No puedo reproducir el error. Estas intentando abrir un proyecto? desde la toolbar?

[2018-04-19 12:00] eamanu commented on #2051
Ya lo estuve viendo. Cuando abres un folder que **no es un proyecto ninja** es cuando salta la excepción

[2018-04-19 22:35] #2051 closed

[2018-04-21 17:22] centaurialpha opened #2053 "Not Import Checker error"
[code]
@eamanu
Al parecer esto ocurre cuando se abre un archivo con módulos de PyQt4.
Tambien vi que en el código usas `exec` para importar, no es más seguro usar `__import__` o `importlib`?

[2018-04-23 00:57] eamanu commented on #2053
Asignamelo.
Voy a ver lo del __imports__ o el importlib.
me podrías enviar el archivo con el que probaste?

[2018-04-23 01:01] eamanu opened #2054 "Problem on error detection"
Fijate que no me detecta, por algún motivo el error de abajo.

![screenshot from 2018-04-22 21-59-24](https://user-images.githubusercontent.com/7605307/39102290-ca90dabc-4678-11e8-9fc6-71765138e1ce.png)

[2018-04-23 01:47] centaurialpha commented on #2053
Tratá de abrir el archivo `ninja_ide.gui.editor._editor.py` es la implementación anterior del editor con Scintilla.

[2018-04-29 01:32] centaurialpha opened #2055 "Not import checker error 2"
[code]

Tengo que desactivarlo, sino crashea siempre que guardo un archivo.

[2018-04-29 01:36] centaurialpha commented on #2054
Eso está bien, fijate si corres `pyflakes` desde la terminal sólo toma ese error.

[2018-04-29 15:04] boumboum opened #2056 "New python 3 features are not recodnised"
New features like formatted text: `mystring = f"blah blah {myvar}"` is treated as "invalid syntax"

[2018-04-29 20:15] centaurialpha commented on #2056
Formatted string literals is a feature of Python 3.6. You can change the python executable that Ninja uses, but I do not promise it will work because we are still working on the new configuration system..

[2018-04-29 21:09] #2050 closed

[2018-04-30 03:24] centaurialpha commented on #2055
Con el último commit esto quedó arreglado

[2018-04-30 03:24] #2055 closed

[2018-04-30 09:03] boumboum commented on #2056
If by "changing the python executable that Ninja use" you mean that I set explicitly in the Preferences-General-Execution-Python Path field the path to my python.exe then your suggestion doesn't solve the problem.

[2018-05-03 22:38] #2052 closed

[2018-05-05 08:54] #2053 closed

[2018-05-13 12:24] #255 closed, assigned to diegosarmentero

[2018-05-15 10:25] eamanu opened #2060 "Open a folder"
Estaría bueno que no solamente te deje abrir un proyecto ninja, si no que también puedas abrir una carpeta entera. Para aquellos proyectos que no nacieron en ninja

Saludos!

[2018-05-15 11:05] centaurialpha commented on #2060
No lo hace?

[2018-05-15 12:08] eamanu commented on #2060
Me parece que no. Yo lo hago apretando el simbolo de carpeta que aparece a la izquierda del editor

[2018-05-15 13:09] #2060 closed

[2018-05-15 13:10] centaurialpha commented on #2060
Creo que en realidad si abría cualquier carpeta pero no funcionaba el filtrado de extensiones.

[2018-06-03 19:21] boumboum opened #2061 "Error when closing the IDE"
When I close the IDE this error message is saved to the Ninja.exe.log file (Ninja ide V2.3 windows):
[code]

[2018-06-04 00:04] centaurialpha commented on #2061
I see is a plugin error, not ninja. Anyway thanks for reporting.

[2018-06-07 01:00] eamanu opened #2062 "Ninja closes unexpectedly"
Estaba escribiendo un código, cuando lo guardo, se me cierra Ninja, y en la terminal veo el siguiente error:

![image](https://user-images.githubusercontent.com/7605307/41072565-05f69798-69d5-11e8-9495-1a1729b0f20b.png)

No tengo forma de volver a reproducir el error.

[2018-06-07 01:14] centaurialpha commented on #2062
Sip, por eso los tests fallan ahí, es un problema en el Indenter de Python. Supongo que si posicionas el cursor en medio de paréntesis, llaves o corchetes y presionas enter, se reproduce el error.

[2018-06-07 11:46] eamanu commented on #2062
Ese indenter es desarrollo propio? o es un módulo de terceros?

[2018-06-07 12:23] centaurialpha commented on #2062
Propio: [python_indenter.py](https://github.com/ninja-ide/ninja-ide/blob/master/ninja_ide/gui/editor/indenter/python_indenter.py). Específicamente el error comienza en la línea 43, en `should_hang`, es decir en cómo se debe indentar cuando se presiona `Enter` habiendo antes un **{**, **[** o **(**

[2018-06-08 12:05] eamanu commented on #2062
Te parece que lo vea? o lo estás manejando vos?

[2018-06-08 12:41] centaurialpha commented on #2062
Dale buenisimo, yo estoy con el IntelliSense.

[2018-06-08 18:43] treyhunner commented on #1818
Just checking to see whether there's an EditorConfig plugin for Ninja or whether native support was added.

I don't use Ninja IDE, but I'd love to see it represented on the [EditorConfig website](https://editorconfig.org/#download).

[2018-06-08 21:52] centaurialpha commented on #1818
Let's see if we implement it natively. Thank you @treyhunner !

[2018-06-09 01:04] eamanu opened #2063 "Cierre inesperado. Excepción en intellisense_assistant.py"
Buenas,

Estaba escribiendo, y cuando le doy a guardar (Ctrl+s) se cerró Ninja-Ide. El error mostrado es el siguiente:

![image](https://user-images.githubusercontent.com/7605307/41186128-a268e9b2-6b67-11e8-8429-95ca03938c8e.png)

No me puse a ver en detalle pero parace sern en el intellisense

Saludos!

[2018-06-09 01:11] centaurialpha commented on #2063
Mmm. Qué bueno que salten bugs ahí, estoy rearmando el modulo ese.

[2018-06-25 03:39] centaurialpha commented on #2063
Fixed

[2018-06-25 03:39] #2063 closed

[2018-06-25 03:40] #2054 closed

[2018-06-25 03:42] #2019 closed

[2018-06-27 20:34] #2062 closed

[2018-06-29 02:09] #1008 closed

[2018-06-29 02:09] centaurialpha commented on #1008
Fixed

[2018-07-03 06:12] #928 closed

[2018-07-08 01:03] amoh-godwin opened #2064 "lets make a new UI"
![vlcsnap-2018-07-08-00h48m14s158](https://user-images.githubusercontent.com/18188576/42415763-6202920e-8252-11e8-8265-5098be8d9c51.png)
qt has its own recommended script as a tutorial on youtube,
and its powered by QtQuick.Controls 2, What powers Ninja-Ide?

I'm suggesting a different branching where all pyqt5 developers should make a pull to,
lets redesign the UI using full qml.

[2018-07-08 22:15] centaurialpha commented on #2064
I do not understand. Do you propose to redo the ninja UI using QML ?. Ninja uses QML in some parts. Another thing, Qt Creator has nothing of QML and much less of Qt Quick Controls in its Interface (except the design part) but the IDE does not.

[2018-07-09 01:29] amoh-godwin commented on #2064
Yes please. Qt has evolved so much. It will be so much easier to build using QML. Dependencies shouldn't be a problem since the app will be bundled into, for instance a .exe. Technology isn't waiting. People will sooner rather than later wake up to the beauty and power behind Qml and Qt as a whole, and as a company we should hope to lead and provide help along the path for them. You know Qml, I kn

[2018-07-11 07:07] centaurialpha commented on #2064
I understand, but that means changing the whole NINJA-IDE code, and that's a lot of work. It took us a long time to get where we are and I think we should not have the luxury of changing everything. I think ninja is fine as it is, the UI is better than most of the Python IDEs there are.

For now, I have in mind to make the toolbar that Qt Creator has, I think it's very nice.

![nin](https://user-i

[2018-07-11 07:15] centaurialpha commented on #2064
And I think we need new icons. :pensive:

[2018-07-11 07:21] diegosarmentero commented on #2064
What about this pack?
https://dribbble.com/shots/2888226-1800-Free-Minimal-Icon-Pack-20x20

[2018-07-11 14:18] gugabfigueiredo commented on #1956
I am experiencing this today

[2018-07-12 14:57] amoh-godwin commented on #2064
But what about [Google's material design Icons](https://materialdesign.io/tools/icons) and the [community material icons](https://materialdesignicons.com/)

[2018-07-16 18:12] #2064 closed

[2018-08-06 12:28] dansanti opened #2065 "Start loading page take a lot of time on bigger projects"
testing in version https://github.com/ninja-ide/ninja-ide/commit/1feca196b2a025ae5efab424976290633f7efeac
1.- create a project like github.com/odoo/odoo
2.- create a project on ninja-ide
3.- close ninja-ide
4.- open ninja-id again

Current behavior, take at less 1 minute on screens load. Logs Shows verification files, but you can't click in other place.

(by the way in a wish list, please add supp

[2018-08-06 18:11] centaurialpha commented on #2065
Thanks for reporting.
I have not been able to reproduce the behavior. I downloaded the Odoo project, then import the project in ninja, I close ninja, I open ninja again and it takes a while to load the files, but not more than 2 seconds.

[2018-08-06 20:39] #2045 closed

[2018-08-07 18:12] dansanti commented on #2065
Hi!
https://dl.dropboxusercontent.com/s/ng4ro3bbj646xmg/out-21.ogv

[2018-08-08 03:47] centaurialpha commented on #2065
The cause of the problem is the Syntax Highlighter. I think it would improve using an incremental highlight

[2018-08-08 23:04] eamanu opened #2068 "FileNotFoundError Exception on startup Ninja-ide"
Buenas!

Estuve ausente por un tiempo. Le hice un Pull al master y cuando quiero iniciar ninja me sale este error:

[code]

Saludos!

[2018-08-08 23:52] centaurialpha commented on #2068
Hola! No problem :p ahora fixeo eso, gracias por reportar, es la nueva feature para seleccionar el intérprete.

[2018-09-02 12:23] ogautherot opened #2070 "Error in Python3 recommendations"
I have the following statement in a program:
  print(a, " * ", b)
and Ninja recommends to rewrite it as
  print((a, " * ", b))

If I do, Python3 prints:
   (6, ' * ', 5)
instead of
   6 * 5
(which he original syntax does print)

Is there a way to remove the double parenthesis recommendation?

[2018-09-02 15:53] centaurialpha commented on #2070
Apparently you are using version 2.3. You can disable it from `Preferences-> Editor-> Configuration->Show Python3 Migration tips.`

[2018-09-02 18:30] ogautherot commented on #2070
Thanks for your reply. It is indeed version 2.3. The point is not about disabling "Show Python3 Migration Tips", it is about giving correct tips (this recommendation sounds just wrong).

[2018-09-02 18:36] diegosarmentero commented on #2070
@ogautherot the thing is that is not ninja the one creating the suggestions (just showing them), ninja is just using the 2to3 program from the official python tools.

[2018-09-02 18:50] ogautherot commented on #2070
@diegosarmentero thanks for the explanation. I'll contact them then.

[2018-09-02 18:59] centaurialpha commented on #2070
:+1: ! I'm going to close this.

[2018-09-02 18:59] #2070 closed

[2018-09-17 10:42] jumpy88 commented on #1985
About one year later the problem still persists on Ubuntu 18.04. Is there a known easy solution without installing packages removed for security reasons?

[2018-09-25 19:03] shabanovve opened #2073 "ImportError: No module named enum"
I use Ubuntu 17.10
After cloning project tried to run
`python ninja-ide.py`
and got error
[code]

By the other side command `python3 ninja-ide.py` works fine for me.
May be it will be better to correct instruction on the main page of project.

[2018-09-25 19:05] centaurialpha commented on #2073
[https://github.com/ninja-ide/ninja-ide#requirements](https://github.com/ninja-ide/ninja-ide#requirements)
Clearly says that Python 3.4 + is needed.

[2018-09-28 00:58] Donorak opened #2074 "ImportError x2 No module named QtWebKit/cannot import name resources"
I have two different errors both are importerrors but ill post their entire string here

pi@raspberrypi:~/ninja-ide $ python ninja-ide.py
libEGL warning: DRI2: failed to authenticate
qt5ct: using qt5ct plugin
Traceback (most recent call last):
  File "ninja-ide.py", line 31, in <module>
    ninja_ide.setup_and_run()
  File "/home/pi/ninja-ide/ninja_ide/__init__.py", line 72, in setup_and_run
    c

[2018-09-28 01:04] centaurialpha commented on #2074
Please follow [these instructions](https://centaurialpha.github.io/fix-ninja-ide-debian) (in Spanish, but do not worry, it is understood). This issue has already been discussed many times.

[2018-09-28 01:05] #2073 closed

[2018-09-28 04:16] #2074 closed

[2018-09-28 05:29] Donorak opened #2075 "ImportError."
ImportError: /usr/lib/python2.7/dist-packages/PyQt4/QtWebKit.so: wrong ELF class: ELFCLASS64

This is after following the tutorial given to me.

[2018-09-28 20:56] centaurialpha commented on #2075
Are you sure you have installed `libqtwebkit4`?
[code]

[2018-09-29 00:49] Donorak commented on #2075
Yes it is up to the most recent version of 2.3.4.dfsg-9.1

[2018-09-29 04:38] centaurialpha commented on #2075
I think it's a problem of architecture. In my RPi2 it works perfectly.

In [this tutorial](https://centaurialpha.github.io/fix-ninja-ide-debian), the `python-qt4` package is for amd64, you can try the [arm64](https://packages.debian.org/es/jessie/arm64/python-qt4/download).

1. Remove `/usr/lib/python2.7/dist-packages/PyQt4/QtWebKit.so`
2. Download `python-qt` for arm64.
3. Do the extraction proce

[2018-09-30 08:52] Donorak commented on #2075
Finally got it to work right in terms of getting the arm64.deb file.
Unfortunately it came up with the same error after following the tutorial.

pi@raspberrypi:~ $ ninja-ide
Traceback (most recent call last):
  File "/usr/bin/ninja-ide", line 34, in <module>
    ninja_ide.setup_and_run()
  File "/usr/share/ninja-ide/ninja_ide/__init__.py", line 71, in setup_and_run
    core.run_ninja()
  File "/us

[2018-09-30 23:58] centaurialpha commented on #2075
It should work eliminating ninja and libqtwebkit, and everything related and reinstalling.

[2018-10-30 19:38] vicot0r opened #2079 "Preferences window shows empty"
When I open preferences from edit menu or toolbar it shows me an empty window.
Here there is an screenshot:
![screenshot from 2018-10-30 20-32-38](https://user-images.githubusercontent.com/44620179/47745031-fd664f80-dc82-11e8-8303-5b2965d3d36c.png)
And here is another one of the stdout:
![screenshot from 2018-10-30 20-35-25](https://user-images.githubusercontent.com/44620179/47745175-5cc45f80-dc83

[2018-10-30 19:42] vicot0r commented on #2079
It is run from an archlinux with gnome wayland installed.
I have tried running it from the xorg version of gnome but the preferences menu still don't appear

[2018-10-30 19:45] centaurialpha commented on #2079
Yes. what happens is that there is no widget, they are disabled.

We had thought of using JSON for the configurations, as it does sublime, or vs code, that is, without an interface, only editing the configurations from the editor. But I see it a little far from the idea, perhaps for another release.

[2018-10-30 21:51] vicot0r commented on #2079
Ok thanks.

[2018-11-13 23:55] Mirellanmawl opened #2080 ""Undefined name" error on global variables defined in function"
Global variables defined (created) inside a function is falsely detected as undefined (redmarking the line and showing "undefined name: [variable]" in tooltip)  when used outside of the function.

**Example**
[code]

In this example, the 6:th line: "print(my_variable)" shows an error. The code runs fine.

[2018-11-15 06:36] landrykapela commented on #1189
For me it was working just fine but today, woke up and started vagrant and it just didn't work any more

[2018-11-16 06:43] centaurialpha commented on #2080
Thanks for reporting

[2018-11-19 18:58] wfpinedar opened #2081 "It breaks when you try to close the project or close all the projects at once."
It breaks when you try to close the project or close all the projects at once.
the error is different, but the same at the same time.

When closing all projects:

[code]

when closing only one project:

[code]

[2018-11-20 03:00] centaurialpha commented on #2081
Are you in the master branch?. I can't reproduce this.

[2018-11-20 15:06] wfpinedar commented on #2081
yes i do.
Try with no ninja project open, also works.
if the path is empty, it seems that the fault is generated.

[2018-12-01 00:24] centaurialpha opened #2082 "Feature Manager"
Implementar una forma sencilla de registrar nuevas funcionalidades al editor. Quizás sea buena idea separar cada `feature` en una clase, para esto debemos tener una clase base de la que heredarán todas las features y un `FeatureHandler`

[2018-12-01 00:28] centaurialpha opened #2083 "Side Widgets Manager"
Idem a #2082 pero para widgets en los lados. Quizás sea buena idea tambien tener una clase base `SideWidget` o `Panel` y un `handler` para manejar estos widgets.

Como un `SideWidget/Panel` agrega una funcionalidad al editor, pero de forma "grafica" (`QWidget`), podemos decir que un `SideWidget/Panel` es una `Feature` + `QWidget`.

[2018-12-01 08:30] #2082 closed

[2018-12-10 03:41] #2083 closed

[2018-12-12 02:09] MaiaLiaEB commented on #1985
Same problem here. Wasn't able to solve it following your advice.

[2018-12-12 03:13] centaurialpha commented on #1985
This is the only solution until we have a version 3.0:
 [https://centaurialpha.github.io/fix-ninja-ide-debian](https://centaurialpha.github.io/fix-ninja-ide-debian)

[2018-12-12 04:58] MaiaLiaEB commented on #1985
It seems my knowledge is not enough, I have problems downloading from Debian, I don't know enough to know why.

[2018-12-12 05:07] centaurialpha commented on #1985
Maybe [in this video](https://www.youtube.com/watch?v=nQMZjXJQHRg) you can see better. It's in Spanish, but it sure is understood.

[2018-12-12 05:35] MaiaLiaEB commented on #1985
I speak Spanish, no problem. I think my problem is my laptop is on windows 10 and I'm using Ubuntu as downloaded from the windows store, so I have a problem sending the files I download from windows to Ubuntu.

[2018-12-12 11:14] MaiaLiaEB commented on #1985
Ok, I did it, and now I get this error:

$ ninja-ide
Segmentation fault (core dumped)

[2018-12-19 13:34] centaurialpha commented on #1950
Fixed!

[2018-12-19 13:34] #1950 closed

[2018-12-29 17:45] #2080 closed

[2018-12-29 17:45] #2075 closed

[2018-12-30 03:06] centaurialpha opened #2084 "Refactor settings"

[2018-12-30 03:10] #1204 closed

[2018-12-31 06:08] #1998 closed

[2018-12-31 06:18] #1806 closed

[2019-01-02 09:39] brylie opened #2085 "Next release planned?"
It seems [there hasn't been a release from this project in around five years](https://en.wikipedia.org/wiki/Ninja-IDE). What are the current plans and timeline for a new release? What are some of the major issues that may block or delay a release?

[2019-01-02 19:49] centaurialpha commented on #2085
@brylie Little by little I'm setting up a calendar, closing old issues, starting to use an agil, kanban methodology, which will help a lot in the development and organization of the project. These days I want to take some time to plan the future of Ninja-IDE.

The main obstacle that is delaying development is the lack of time and colaborators. Currently I dedicate my free time, but I want to organ

[2019-01-02 20:04] brylie commented on #2085
What are some of the high-priority issues?

[2019-01-02 20:30] centaurialpha commented on #2085
That is a task! Add priority labels to the issues :) But roughly:
- IntelliSense (implement client for [language-server-protocol](https://langserver.org/).
  - Autocomplete, Signature Help, Go to definition, hover...
- New Settings UI.
- New Plugins architecture, UI..
- Maybe: Debugger...
- Ninja Web! (we need a ninja in Django)
- ...

[2019-01-03 09:06] brylie commented on #2085
Jep, I'm a Django developer, and would love to use a fully open-source IDE! I also like the direction of aligning with LSP :-)

Lets make sure there is at least one task for each of the bullet points above, that way we can track work effort :-)

[2019-01-11 04:39] centaurialpha commented on #2084
Test

[2019-01-11 04:41] centaurialpha commented on #2084
test

[2019-02-22 13:54] amoh-godwin opened #2087 "I need a release for my Udemy course as soon as possible"
The entire course, the part that is typed with python, have been type in Ninja-Ide using the Github version now the course is online, and I want them to install a bundled app. Please I need a release. Hope I will get it. Thank you

[2019-02-22 14:01] centaurialpha commented on #2087
Hi!
I'm glad you've used NINJA-IDE in your course, but keep in mind that you've used a development version. I dedicate little time to the development of NINJA-IDE, I can't assure that we will soon have a stable version for this year, but very close.

Consider using version 2.3, it's still good. Best regards!

[2019-02-22 14:01] #2087 closed, assigned to nobody

[2019-02-22 14:03] amoh-godwin commented on #2087
Can't. What about all the new features.

[2019-03-01 00:11] zellerede opened #2088 "f-strings marked as syntax error"
I recently met the python3.6 feature which abbreviates string's usual `format` method, by even simpler templating:
[code]
See [the docs](https://docs.python.org/3/reference/lexical_analysis.html#f-strings).

Is there a support for it in the syntax checker of Ninja IDE?

[2019-03-01 00:41] centaurialpha commented on #2088
Hi @zellerede !

Thanks for reporting, this is the same as #2056, this has no high priority for the moment, we are working on the NINJA-IDE core. But I guess updating the `pyflakes` version would solve the problem :)

[2019-03-04 12:29] ant- commented on #1985
Just tried to install NinjaIDE, but faced with the same error on Ubuntu 18.04.
Well... I will continue to use PyCharm (:
Think of packaging the application as snap of flatpak guys.

[2019-03-04 16:41] centaurialpha commented on #1985
The solution described above is proven to work.

[2019-03-04 17:36] ant- commented on #1985
I would say it's a temporary workaround, however I am just a silly user.

[2019-03-05 04:08] centaurialpha commented on #1985
Sorry @ant- , a lot of effort is being made to move forward with the new version.

[2019-03-05 08:11] ant- commented on #1985
I've found that currently running the latest version (from git repo) is much easier to me.
Thanks @centaurialpha for your work. Hope you'll be able to introduce a stable release soon (:

[2019-03-06 14:25] h4ckfu commented on #108
The repository 'http://ppa.launchpad.net/ninja-ide-developers/daily/ubuntu bionic Release' does not have a Release file.

N: Updating from such a repository can't be done securely, and is therefore disabled by default.

N: See apt-secure(8) manpage for repository creation and user configuration details.

[2019-04-08 04:04] DarkCode01 opened #2090 "AttributeError: 'str' object has no attribute 'decode'"
I get this error, when run '`

, i dont know why do that, when run

`with python2.7 this throw the error

i  want help me!!!!!!!

[2019-04-08 16:29] centaurialpha commented on #2090
Please full traceback

[2019-05-05 21:06] JavascriptMike opened #2091 "Ninja-IDE dies a painful death! Not supported under Fedora 30."
Installed Fedora 30 in KDE Desktop environment,  full setup,   Installed Ninja-IDE.   Go to the start menu and click the Ninja-IDE and the object appears on the programs bar at the bottom for about 2 seconds, then disappears.
So I started over,  Installed Fedora 30 in KDE Desktop environment ONLY,  then installed ninja-ide and it gave the exact same error.   Nothing changed.

So I load up a consol

[2019-05-07 11:22] centaurialpha commented on #2091
Thanks for reporting.

Currently, an effort is being made to release a stable version of NINJA 3. It is probably not worth updating NINJA 2.3, and I personally do not know how the Fedora packages work.

So please be patient with the new version :)

[2019-05-19 21:38] sevu commented on #2091
@JavascriptMike It's probably best to switch over to git version.
Having a short look at it, maybe the Fedora equivalent of [this]/https://aur.archlinux.org/packages/python2-sip-pyqt4/) went missing.

2.3 dies because of qt4 and python2 - both things have already been addressed.
There's one year left till python2 reaches EOL.

To see ninja ide live again, there's just one way - getting 3.0 out.
Mi

[2019-05-20 12:56] centaurialpha commented on #2091
Ok, maybe thinking about it, it might be a good idea to migrate version 2.3 to Python3/Qt5, just migrate, do not add new features.

I'll think about it.
Thank you!

[2019-05-20 22:58] centaurialpha opened #2092 "NINJA-IDE 2.4"
As a result of many comments about NINJA not working in many places, it has been decided, while advancing in version 3.0, to make a version 2.4 that is compatible with Python 3 and Qt5.

~This change does not include new features,~ it is only intended to replace version 2.3 until it has version 3.0.

**EDIT**: We add small features

[2019-05-20 23:01] centaurialpha opened #2093 "Change PyQt4 imports to PyQt5"

[2019-05-20 23:03] centaurialpha opened #2094 "Migrate to Python 3"

[2019-05-20 23:25] centaurialpha opened #2095 "Create installer with Qt Installer Framework"

[2019-05-21 13:07] centaurialpha opened #2096 "Use new theme editor"

[2019-05-21 13:08] centaurialpha opened #2097 "Add option to change cursor width"
## To Do
- [ ] Use `setCursorWidth` in editor to change cursor width.
- [ ] Add setting in `settings.py`
- [ ] Add setting in `preferences.py`

[2019-05-21 13:09] centaurialpha opened #2098 "Modify setup.py for new version"

[2019-05-22 00:01] centaurialpha opened #2099 "Update pyflakes"
Update to the latest version of `pyflakes` and make the necessary modifications to work with version 2.4

[2019-05-22 13:43] JavascriptMike commented on #2091
I really enjoyed using Ninja-IDE,   Before it I was in the Pycharm Community Edition camp.  I have long since moved on from Pycharm and would like to keep it that way.   Pycharm has some quarks about it that just drive me nuts when it comes to writing code.
I can use it but I would prefer Ninja IDE and supporting that community if possible!
Keep us updated on progress as you move along!  We await

[2019-05-22 14:24] centaurialpha commented on #2091
Hey @JavascriptMike  thanks for the support!
Good news!
Today begins the first sprint, maybe take 2, so very soon we will surely have a ninja 2.4!

See https://github.com/ninja-ide/ninja-ide/issues/2092

[2019-05-22 17:55] JavascriptMike commented on #2091
Hmmm.  As a programmer myself,  I could make a small recommendation.   I believe parts of Python 2 are being dismantled phased out early.  This is going to mess with programs that use Python 2 code in their design.   Python 2 and 3 work by all the files contained in the "Python27" folder on your PC.   If you install Python 2.7 with the "Install for All Users" feature checked,  it will install to C

[2019-05-22 18:30] centaurialpha commented on #2091
I have not fully understood.
The idea is to have a Ninja 2.4 + Python3/Qt5, the end user does not need to install anything, all this is handled by the NINJA installer or the package manager in GNU/Linux

[2019-05-24 19:54] centaurialpha opened #2100 "Add NINJA-IDE 3.0 Style sheet in 2.4"

[2019-05-25 00:51] #2097 closed, assigned to nobody

[2019-05-27 00:36] #2096 closed, assigned to nobody

[2019-05-29 01:18] CodeMouse92 commented on #2092
Yeeeeeeeeeees! Been waiting for the return of NINJA-IDE for nearly two years. Can't wait. :D

[2019-06-02 05:01] #2100 closed, assigned to nobody

[2019-06-09 13:27] amoh-godwin commented on #2095
Hallelujah, we are finalizing.

[2019-06-09 13:39] amoh-godwin commented on #2093
If you did things like this, Ninja-Ide 3 would have been out long ago. Awesome.

[2019-06-09 16:53] amoh-godwin commented on #2093
I'm on it, it still breaks, but still on it.

[2019-06-09 18:01] amoh-godwin commented on #2093
Soon.

[2019-06-10 00:27] centaurialpha commented on #2093
I do not fully understand your comment.  What do you mean?

[2019-06-10 00:35] #2093 closed, assigned to nobody

[2019-06-10 00:35] #2094 closed, assigned to nobody

[2019-06-10 11:41] amoh-godwin opened #2103 "Ninja-Ide still breaks because it's signal handling still uses PyQt4 style."

[2019-06-10 13:46] centaurialpha commented on #2103
I do not understand, are you talking about 2.3 or 3.0?

[2019-06-10 14:24] amoh-godwin commented on #2103
The Git version. That reads 3.0 right, yes that one, it breaks. Because of QQuickWidget and url errors

[2019-06-10 14:39] amoh-godwin commented on #2103
We are getting the wrong filename for qml for QQuickWidget source.

Monitor the first line:
It doesn't have the drive name
It should read **file:///H:/GitHub/ninja-ide-official/ninja_ide/gui/qml/FilesHandler.qml**

Its not the only problem, you can see python reports the root object is a NoneType, because the signal and slots mechanisms have changed.

I am currently on that.

[code]

[2019-06-10 14:40] amoh-godwin commented on #2103
I can solve the signal problem a little patience is all I ask.

[2019-06-10 16:49] centaurialpha commented on #2103
It's not that problem, I think you're wrong. If you are in the branch `develop`, is very unstable, and all this work I'm solving, I ask that you have patience and do not PR for now to develop. As soon as it is "usable" I will accept PR

[2019-06-10 20:07] amoh-godwin commented on #2103
Remember when I told you about your rejection of QtQuick Controls and Qml. See where you are now. Your code is old and will soon meet its end of life. Humble yourself.

[2019-06-10 20:11] amoh-godwin commented on #2103
Bad project manager. You are solving a problem you don't even know exist. You didn't even know that the master branch breaks. Remember I had earlier on made the PR to the master branch because that was what, I made the commits to. Check the files that I changed, did you really change those imports to PyQt5.

If you want to be proud, at least be current with your python or Qt knowledge first, you a

[2019-06-10 20:26] diegosarmentero commented on #2103
I'm closing this issue, there is no reason for someone to attack people that are working on an Open Source project for Free and in their spare time.
And when @centaurialpha was chosen to be the Lead of ninja-ide was because there is complete trust in his capabilities.

[2019-06-10 20:26] #2103 closed, assigned to nobody

[2019-06-23 19:42] #2099 closed, assigned to nobody

[2019-06-23 19:43] #2095 closed, assigned to nobody

[2019-06-23 19:43] #2098 closed, assigned to nobody

[2019-06-24 09:24] centaurialpha commented on #2092
Released!

[2019-06-24 09:24] #2092 closed, assigned to nobody

[2019-08-10 19:54] ghost opened #2104 "Expand Windows distribution"
The Windows EXE here:

https://github.com/ninja-ide/ninja-ide/releases

Cant be extracted with InnoExtract, 7-Zip or InnoUnp. It would be better to have this option, or to simply offer a zip build with the executable.

[2019-08-13 08:25] Bu11etmagnet opened #2105 "Website does not know about 2.4"
http://ninja-ide.org/downloads/ prominently features ... version 2.3

[2019-08-26 15:42] mreynolds389 opened #2106 "ninja-ide fails to start on Fedora 30"
This is similar to issue #2091, so feel to close this as a duplicate if you want.  Here is what I see when I attempt to start it from the command line (looks to be an issue with python2):

$ ninja-ide
Traceback (most recent call last):
  File "/usr/bin/ninja-ide", line 11, in <module>
    load_entry_point('NINJA-IDE==2.3', 'gui_scripts', 'ninja-ide')()
  File "/usr/lib/python2.7/site-packages/ninj

[2019-09-25 13:03] ctineo opened #2107 "MAX_OPACITY crash ide"
in Debian 10.1 python 3.7.3 on gnome shell run wayland when touchpad wheell from opacity crash
Traceback (most recent call last):
  File "/home/ctineo/Desarrollo/ninja-ide/ninja_ide/gui/ide.py", line 641, in wheelEvent
    if event.delta() == 120 and self.opacity < settings.MAX_OPACITY:
AttributeError: 'QWheelEvent' object has no attribute 'delta'

[2019-09-25 13:27] centaurialpha commented on #2107
Thanks for report!

[2019-12-28 13:15] mrkaban opened #2108 "Does not know basic commands"
![111](https://user-images.githubusercontent.com/14289360/71544145-f5e92600-29ad-11ea-87b2-ae6467ff664d.jpg)
Version 2.4, Windows 10 x64

I attach a screenshot. I opened the file that I worked with in Python IDLE and the ATOM editor. And here he says that he does not understand "from tkinter import *".

The program also crashes when you open the "Manage plugins" and "Languages Manager" items in th

[2019-12-30 23:20] centaurialpha commented on #2108
Thanks for reporting.

[2020-01-09 00:21] Armag67 opened #2109 "Python 3.8 break ninja-ide"
Hello,

Since Python update from 3.7 to 3.8.1 version on my Manjaro box, ninja-ide is broken because _ast.Str has been removed from the _ast internal Python module. Lauching ninja-ide throws this traceback:

[code]

Thanks to take a look.

[2020-01-09 01:14] centaurialpha commented on #2109
Thanks for reporting.

[2020-02-16 20:41] BrianSidebotham opened #2110 "No module named 'sip' in Fedora 31"
On a completely fresh install on Fedora 31 ninja-ide fails to start and moans that there is no module named sip.

[code]
[code]

[code]

I changed the `ninja-ide` script to `python2  /usr/share/ninja-ide/ninja-ide.py` instead, but get exactly the same error.

So I've removed `ninja-ide` :(

[2020-02-16 23:49] BrianSidebotham commented on #2110
I installed a working (appears to be anyway) `ninja-ide` on Fedora 31 with:

[code]

[2020-02-16 23:55] BrianSidebotham commented on #2110
Oh no, spoke too soon - preferences dialog is completely empty among other things.. :(

[2020-03-15 22:45] sevu commented on #2110
@BrianSidebotham  There's a new stable version to address these kind of issues, which can only be downloaded from github. Have a look at the releases section.

However, there's no rpm package.
You can ask the fedora maintainer if they add it to fedora 31.
With fedora 32 it won't work because of #2109.

Edit: works with some changes too:
https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=ninja-

[2020-03-15 22:48] sevu commented on #2090
@DarkCode01 see above

[2020-03-16 10:46] BrianSidebotham commented on #2110
No worries @sevu - I've moved to Microsoft Visual Code.

Thanks for the heads up on the release though :+1:

[2020-03-16 10:46] #2110 closed, assigned to nobody

[2020-04-10 08:35] #1885 closed

[2020-09-19 17:48] comzeradd commented on #2105
Website is probably not maintained. I opened [this PR](https://github.com/ninja-ide/ninja-ide-web/pull/46) 6 years ago.

[2020-10-18 16:14] tieugene commented on #2109
Same problem.
Fedora 32, python-3.8.6

[2020-11-22 04:11] mray271 commented on #2109
Same problem.
Fedora 33, python-3.9.0

[2020-12-13 22:37] Asherathe opened #2111 "Website down"
The website, including the plugins repository, seems to have vanished. Anyone know what's going on?

[2020-12-29 20:58] adremides commented on #2109
If [lines 32 and 34 from instrospection.py](https://github.com/ninja-ide/ninja-ide/blob/823b9d42e7d8bc31be6a7a6726b58533bbfe30b3/ninja_ide/tools/introspection.py#L32-L34) are commented and the file `/ninja_ide/intellisensei/parso/python/grammar38.txt` is created, it runs. I don't think this is the solution but it make start again.
I'm using Kubuntu 20.04 and Python 3.8.5.

[2021-01-02 23:14] Armag67 opened #2112 "Python 3.9 break ninja-ide"
Hello,

Since Python upgrade to 3.9, Ninja IDE needs a:
`/usr/lib/python3.9/site-packages/ninja_ide/intellisensei/parso/python/grammar39.txt` file to work.

Traceback:
[code]
I tentatively made a copy of the file `grammar38.txt` to `grammar39.txt` in his directory, and it works, but if there have been any changes to the Python syntax, Ninja IDE will not work properly.

[2021-01-30 00:58] pmourelle commented on #2111
Website had been freezed since a while and used to be hosted on webfaction. Webfaction was bought by a shitty company last year and no longer support django (along with other zillion other stuff). Maybe could be hosted in some new place supporting django. Heroku maybe. Any other suggestion?

[2021-01-30 01:02] centaurialpha commented on #2111
Heroku sounds good at the moment, but I have no idea what the migration process is like :/

[2021-01-30 01:29] benmoran56 commented on #2111
https://www.pythonanywhere.com/ is pretty great. You can host a Django site on there very quickly and easily.

[2021-01-30 02:45] Rolando-Zarate opened #2113 "Why the website is taked down?"
I was checking for ninja ide documentation and when i entered the page does not exists, Why do you deleted it?

[2021-01-30 16:27] eamanu commented on #2113
Hi @Rolando-Zarate ,

Please see #2111

[2021-01-30 16:27] #2113 closed, assigned to nobody

[2021-01-31 00:27] Rolando-Zarate commented on #2113
Thanks

El sáb, 30 de ene. de 2021 a la(s) 13:28, Emmanuel Arias (
notifications@github.com) escribió:

[2021-02-15 15:17] igordejanovic opened #2114 "No branch for v2.4 tag"
I'm having an issue seeing from which branch the last release has been made. As far as I can tell v2.4 tag is pushed to this repo but the branch is not updated, neither master nor develop. It is thus impossible to create a proper PR.

Am I missing something here?

[2021-05-15 01:00] centaurialpha commented on #2114
@igordejanovic Sorry for the delay in replying :disappointed: .

Version 2.4 was a port, unfortunately there is no branch because that version will not be supported. Instead I am pushing the development of version 3.1 on the `develop` branch.

Any doubt I am at your disposal.

[2021-05-15 01:03] centaurialpha commented on #2112
Sorry for the delay in replying.

Now it works.

[2021-05-15 01:03] #2112 closed, assigned to nobody

[2021-05-15 01:04] centaurialpha commented on #2109
Fixed in https://github.com/ninja-ide/ninja-ide/commit/54f2507505698f9f32aeb90f793b74fc38c719ba

[2021-05-15 01:04] #2109 closed, assigned to nobody

[2021-05-15 01:15] centaurialpha opened #2115 "HDPI scaling must be set before QCoreApplication"
Remove this warning
[code]
putting [this line](https://github.com/ninja-ide/ninja-ide/blob/develop/ninja_ide/core/core.py#L59) before this [another line](https://github.com/ninja-ide/ninja-ide/blob/develop/ninja_ide/core/core.py#L49)

[2021-05-15 01:16] centaurialpha opened #2116 "SyntaxWarning: use == instead of "is""
[code]

[2021-05-15 07:17] Dripsama commented on #2116
I have worked on this and I have also submitted the pull request.

[2021-05-15 07:37] igordejanovic commented on #2114
Ah, ok. I did a fork to fix some stuff in 2.4 that I need but I guess those fixes will stay there. The fixes are [here](https://github.com/igordejanovic/ninja-ide/tree/migration-fixes) in case someone needs them. Thanks for your work on ninja-ide!

[2021-05-15 07:43] Swanand01 commented on #2115
Hi @centaurialpha, I'd like to take this up please.

[2021-05-16 04:08] #2115 closed, assigned to nobody

[2021-05-16 04:08] #2116 closed, assigned to nobody

[2021-05-16 04:11] centaurialpha opened #2120 "Fix command in README"
In [Cloning and running](https://github.com/ninja-ide/ninja-ide#cloning-and-running) section, fix the install dependencies command:

[code]
[code]

[2021-05-16 10:51] sachindavra commented on #2120
Hi @centaurialpha, I would like to work on this issue. Could you assign this to me?

[2021-05-16 20:21] centaurialpha commented on #2120
Hi @sachindavra, I'm so sorry :cry:

It has already been resolved. Someone posted a PR before your comment.
Next time, you don't need to ask for permission :wink:

[2021-05-16 20:21] #2120 closed, assigned to nobody

[2021-05-16 20:30] centaurialpha opened #2122 "Remove SourceCodePro font"
This is not really needed, remove all `SourceCodePro` fonts found in `ninja_ide / fonts`

[2021-05-16 20:34] centaurialpha opened #2123 "Move clean_pycs.sh code to the Makefile"
Now that we have a Makefile, it would be a good idea to move the code from `clean_pycs.sh` to a Makefile command, something like this:

[code]

Leaving the possibility of adding more subcommands related to cleaning.

- [ ] Modify Makefile to clean `pyc` and `pyo` files.
- [ ] Delete `clean_pycs.sh` script

[2021-05-16 21:02] centaurialpha opened #2124 "Remove convert_qt_files script"
This file is not needed. It is already being done in the Makefile.

[2021-05-16 21:06] centaurialpha opened #2125 "Flake8 compliance"
Currently the make flake8 command throws the following errors and warnings:
[code]

- [ ] Modify all files as necessary.
- [ ] Add `make flake8` command in [.github/workflows/linux.yml](https://github.com/ninja-ide/ninja-ide/blob/develop/.github/workflows/linux.yml) as a step.
- [ ] It may be necessary to add flake8 as a dependency.

[2021-05-16 22:55] cwg83 commented on #2122
I deleted the requested files: #2126

[2021-05-17 00:47] #2122 closed, assigned to nobody

[2021-05-17 04:33] cristiangutie commented on #2123
Hi! I would like to claim this issue

[2021-05-17 04:55] centaurialpha commented on #2123
Hi @cristiangutie , it's yours.

[2021-05-18 05:06] centaurialpha opened #2127 "Design new ToolBar & capture ideas"
# Ideas for new ToolBar

|     |     |
|-------------|-------------|
| :green_circle:          | Confirmed         |
| :orange_circle:        | Need definition               |
| :red_circle:              | Discarded         |

-----------------

## Position
1. :orange_circle:   Fixed at left. (like QtCreator?)
2. :orange_circle:   Dynamic.

## Items
- :green_circle: New file
- :green_circle: Open

[2021-05-18 15:24] carpincho opened #2128 "http://ninja-ide.org/ website is down"
I've checked also with https://isitdownorjust.me/.
regards!

[2021-05-18 23:03] cristiangutie commented on #2123
I just made a pull request (#2129) @centaurialpha please review it.

[2021-05-19 02:08] #2123 closed, assigned to cristiangutie

[2021-05-19 13:43] centaurialpha opened #2130 "Write Button API"
A tab is an object with:
- text
- tooltip
- icon
Its represents an item in the ToolBar.

## API
- `text: str`
- `tooltip: str`
- `icon: FontAwesome code`

[2021-05-22 18:13] centaurialpha opened #2132 "Write ToolBar API"

[2021-06-19 10:35] d-f-clark opened #2133 "Build fails on Raspberry Pi with 404 error"
On a Raspberry Pi 3 Model B running Buster
This command:
pip install requirements.txt

yields these messages, including this error message:

Looking in indexes: https://pypi.org/simple, https://www.piwheels.org/simple
Collecting requirements.txt
Could not install packages due to an EnvironmentError: 404 Client Error: Not Found for url: https://pypi.org/simple/requirements-txt/

[2021-06-19 16:34] centaurialpha commented on #2133
Thanks for reporting.

[2021-06-24 16:23] cristiangutie commented on #2124
Hi! I would like to claim this issue

[2021-06-29 21:00] cristiangutie commented on #2124
@centaurialpha I made a [pull request](https://github.com/ninja-ide/ninja-ide/pull/2134). Can you review it please?

[2021-08-18 13:53] ABDULBASITLATIF opened #2135 "FAILED TO EXECUTE"
I am using windows 10 i install NINJA IDE and when i open it error message displayed telling me that failed to execute this shows dme every time .when i uninstall it ninja data is not removed from its folder in which it is save .This is irritating please fix this. Thank you

[2021-10-14 16:41] ehm-are commented on #2111
@pmourelle @centaurialpha

I'd be willing to help with this.

Is there a backup of the plugins repository (third-party, etc) available somewhere?

[2021-10-31 09:30] rokfrog opened #2137 "Ninja -ide"
Is there any plugin for Elixir programming in this..It would be super awesome

[2022-01-10 15:01] Armag67 opened #2138 "ninja-ide-git on Manjaro is broken by python update to 3.10 and also by shift from Qt5 to Qt6"
Hello,

ninja-ide-git on Manjaro is broken by python update to 3.10 (`collections.Callable` needs replacement by `collections.abc.Callable` in a lot of files) and also by shift from Qt5 to Qt6, and that is far more difficult to correct... ;=)

[2022-01-27 21:26] nickgomez-tech opened #2139 "ImportError: cannot import name 'Callable' from 'collections' (C:\Program Files\Python310\lib\collections\__init__.py)"
Hello, at running i had this problem:
ImportError: cannot import name 'Callable' from 'collections' (C:\Program Files\Python310\lib\collections\__init__.py)

[2022-01-31 04:01] white-devil42 opened #2140 "edit/preference is empty"
![image](https://user-images.githubusercontent.com/61072624/151737165-9ec5f258-a8cb-4653-a741-e18e372d0faa.png)
log:D:\GitHub\ninja-ide>python ninja-ide.py
The process couldn't be renamed'
D:\GitHub\ninja-ide\ninja_ide\dependencies\pycodestyle.py:113: FutureWarning: Possible nested set at position 1
  EXTRANEOUS_WHITESPACE_REGEX = re.compile(r'[[({] | []}),;:]')

[2022-02-04 08:45] mray271 opened #2141 "Is the ninja-ide project still being actively maintained in 2022?"
It looks from the main page there haven't been any stable releases since 2019. Does this project still have active maintainers and developers? Thanks.

[2022-03-31 18:38] Poikilos commented on #2106
Another project has the details:

-goldsborough ([Sep 25, 2014 on Writer-Tutorial issue 3](https://github.com/goldsborough/Writer-Tutorial/issues/3#issuecomment-56809106))

Monkey-patching each QString, subclassing QString, or converting each string to a python string before using it seem like poor solutions. You're correct that it is a Python 2 issue and Python 2 isn't supported anymore by basica

[2022-03-31 18:44] Poikilos commented on #2133
@centaurialpha , @d-f-clark is using the step from the readme but the readme is wrong. It should be `pip install -r requirements.txt`. It isn't a low-priority issue because it happens everywhere. The error on a linux desktop with Python 3.9.2 is:

[code]

[2022-03-31 18:57] Poikilos commented on #2133
I closed my PR since there is already one for this dated October 2021: <https://github.com/ninja-ide/ninja-ide/pull/2136> (Click [Files changed](https://github.com/ninja-ide/ninja-ide/pull/2136/files) to see the fix).

[2022-04-29 10:15] Poikilos commented on #2141
I put some suggested fixes in my fork: https://github.com/samurai-ide/samurai-ide https://samurai-ide.org

I tried to buy ninja-ide.org went it went up for auction but the auction price went too high when it ended only days ago. If someone here outbid me that's too bad that I bid it up, but I had no way of knowing if someone legitimate or a squatter was trying to buy it it since there was zero com

[2022-04-29 10:21] Poikilos commented on #2128
It went up for auction. I tried to buy it but the price went too high for me. It is unfortunate if my bids made the price high if someone here was bidding, but I had no way of knowing if someone legitimate was bidding against me or a squatter since there was zero communication on this issue (or much else on this repo) from the developers. Instead I'll have to use my new domain for my fork: https:/

[2022-04-29 11:42] centaurialpha commented on #2141
Hi @mray271 @poikilos

I apologize for the late message. I plan to resume the project this year, I really want. My work demands a lot of time and I couldn't dedicate myself to Ninja-IDE. I hope you understand.

Maybe it is worth rewriting most of Ninja-IDE because there are new versions of Python, PyQt/PySide and many new tools that can serve.

Any questions, feature request,  don't hesitate to op

[2022-04-29 13:31] Poikilos commented on #2141
@centaurialpha If you told people you needed help paying around $10 USD per year for the domain, that would've been better than the domain being auctioned off for over $300 USD making it basically impossible to get back since the new owner will probably want thousands for it at that rate. Did you even get that money?

[2022-04-29 13:43] centaurialpha commented on #2141
I'm sorry, but I don't handle the website, I have no idea what happened.

[2022-04-30 16:18] Poikilos commented on #2111
@pmourelle @centaurialpha I'm continuing the conversation here since I mentioned it at the wrong issue #2141 and the dup issue #2128 . Can anyone explain why the domain went up for auction? You could have transferred the domain to namecheap or anywhere else for $10/yr and connected it to any host you want. Now that it went up for auction it may be well over $1000 USD or more to get back. What is g

[2022-04-30 16:19] Poikilos commented on #2128
This is a duplicate of #2111 which explains it, and I'm continuing the conversation there.

[2022-04-30 16:26] Poikilos commented on #2141
My website comments were a different issue though related. I accidentally posted here. I've continued the website conversation at #2111.

Back on topic, I'd like more explanation of the governance of this project. When I tried Ninja-IDE back in 2010 I had to stop using it because the autocomplete feature was eating code and there were seldom any releases. To this day, there are still seldom any re

[2022-04-30 16:31] centaurialpha commented on #2141
First, @poikilos thanks for your interest in Ninja-IDE. I am away from home, as soon as I return in a couple of hours, I will answer with pleasure.

[2022-05-01 20:35] pmourelle commented on #2141
@poikilos the nerve you have to demand answers and explanations from a free and open source project, amazes me.
Chill out and really be thankful to @centaurialpha's time and patience.

[2022-05-02 14:11] Poikilos commented on #2141
@pmourelle There are several issues like this, and I didn't post them. Also, I indicated I may be willing to help centaurialpha and to put up money to save the domain and when asking a question I said "please."

[2022-05-02 15:07] centaurialpha commented on #2141
Hi! again. I apologize for the delay.

I have decided that I will spend a little time a week to plan the future of Ninja-IDE. My goal is for development to be activated during the next months.

Im not sure if it will be necessary to rewrite the architecture, but I want to take the time to be sure (I will update the readme with this).

Soon I will plan some tasks to start receiving contributions an

[2022-05-07 20:34] centaurialpha commented on #2141
Hello everyone!

I have created a [GitHub project](https://github.com/orgs/ninja-ide/projects/1/views/1) (WIP) to go over the whole administrative issue, catharsis, whatever, before planning a roadmap.

At this stage I imagine there is not going to be any code, I just want to make sure I have things planned.

The next iteration that follows after this is going to be to start coding an MVP and go o

[2022-05-08 20:50] perspector opened #2143 "Repo Cloning"
Hi,
When I used
`git clone git://github.com/ninja-ide/ninja-ide.git`
on linux, the terminal gave the following output:
[code]
I replaced the `git://` with `https://` which worked.
Please replace the clone line with:
`git clone https://github.com/ninja-ide/ninja-ide.git`

Thanks and keep up this amazing IDE,
pythoncoder8888

[2022-07-20 00:59] sebek0F9 commented on #2106
python3-pyqt5.qtquick package? i made an account just for you :P

[2022-07-20 19:38] mreynolds389 commented on #2106
I don't see this package available on Fedora anymore, I haven't used it in years, so I'm just going to close this out...

[2022-07-20 19:38] #2106 closed, assigned to nobody

[2022-07-24 09:23] sebek0F9 commented on #2106
If you’re interested in trying, Try installing pyqt5 and python3-qt5 on fedora 36.

 If still not working try one more thing : pip3 install pyqt5 (if case-sensitive Double check)

finally one more try :  install the python3-pyside2 package,  or: pip3 install PySide2(again, double check case sensitive with pip)

check for pyside2 sub packages just in case.(you’re looking for qtquick)

sorry, I’m on

[2022-07-25 13:22] mreynolds389 commented on #2106
I was frustrated a few years ago when I filed this ticket because I really liked the IDE and wanted to keep using it.  But now it's not even available on Fedora anymore - so I can't even try the workaround.  I appreciate the effort in finding a workaround but its not something I can use anymore :-(

[2022-09-18 08:15] golanguage commented on #1363
10 years before

[2022-09-18 08:15] #1363 closed

[2022-09-30 19:15] #1810 closed, assigned to diegosarmentero